# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
venv/
.env/
env/
ENV/

# Results and generated data
results/
keys.json

# Truffle and blockchain artifacts
build/

# Editor configs
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db
